

.light-outline {
  border: 1px $light-grey solid;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

.radio-stretch > * {
  margin-left: 12px;
  margin-right: 12px;
  font-size: 12px;
}

.question-text, .result-text {
  font-size: 14px;
}

.result-color {
  background-color: $perspective-purple;
}

.not-result-color {
  background-color: $medium-grey;
}

.answer-bar {
  width: 45%;
  height: 14px;
  .answer-bar-right {
    border-radius: 0 2px 2px 0;

  };
  .answer-bar-left {
    border-radius: 2px 0 0 2px;
  }
}

.result-grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}